<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="T31-ProjetoBase.Properties.Settings.conNor"
			 connectionString="Data Source=.;Initial Catalog=Northwind;
			 User ID=sa;Password=senac"
			 providerName="system.Data.SqlClient" />
		<add name="T31-ProjetoBase.Properties.Settings.chico"
		 connectionString="Data Source=.;Initial Catalog=chico;
			 User ID=sa;Password=senac"
		 providerName="system.Data.SqlClient" />
	</connectionStrings>
</configuration>